/* Header
@media only screen and (max-width: 960px){
    .nav.utility > li {
        display: Inline-block;
        padding: 8px 0 9px 0px;
    }
    .nav.main > li {
        display: Inline-block;
        padding: 8px 0 9px 0px;
    }
    .nav {
        float: right;
        list-style: none;
        text-align: left;
        margin: -7px;
        max-width: 73%;
    }
    ul.nav.main > li > a {
        font-family: Museo_Slab_500;
        font-size: 13px;
        color: #575c64;
    }
    #hamburger{
        display:none;
    }
    #searchButton {
        border: none;
        font-family: Proxima_Semibold;
        font-size: 11px;
        color: #ffffff;
        background: #27aeea;
        width: 16%;
    }
    #signup {
        border: none;
        font-family: Proxima_Semibold;
        font-size: 11px;
        color: #ffffff;
    } */
    /* #hamburger{
        float: right;
        margin-top: 1%;
} */
/* } */
/* @media only screen and (max-width: 640px){
    .headings ul > li > a {
        font-family: Proxima_bold;
        font-size: 41px;
        text-transform: Uppercase;
        color: #d1d3d4;
    }
    ul.nav.main > li > a {
        font-family: Museo_Slab_500;
        font-size: 8px;
        color: #575c64;
    }
    #hamburger{
        display:none;
    }
    #searchButton {
        border: none;
        font-family: Proxima_Semibold;
        font-size: 8px;
        color: #ffffff;
        background: #27aeea;
        width: 16%;
    }
    #signup {
        border: none;
        font-family: Proxima_Semibold;
        font-size: 8px;
        color: #ffffff;
    }
    ul.nav.utility> li> a {
        font-family: Proxima_Semibold;
        font-size: 8px;
        color: #b2b3b4;
    }
}
@media only screen and (max-width: 420px){
    #menu{
        display:none;
    }
    #hamburger {
        display: inline;
        margin-left: 300px;
    }
}
@media only screen and (width: 360px) and (height:640){
    #logo {
        display: inline-block;
        float: left;
        margin-top: -7%;
        width: 52%;
    }

} */
@media only screen and (min-width: 360px) and (max-width:640px){
    .navbar {
        position: relative;
        min-height: 4px;
        border: 1px solid transparent;
    }
    #phone{
        width: 30%;
    }
    #hamburger{
        width: 54%;
    }
    .headings {
        padding-top: 329px;
        text-transform: uppercase;
    }
    .headings ul > li > a {
        color: #d1d3d4;
        font-family: Proxima_bold;
        font-size: 20px;
        text-transform: Uppercase;
    }
    #logo {
        display: inline-block;
        float: left;
        margin-top: -11%;
        width: 52%;
    }
    .headings ul > li > a:active {
        color: #ffffff;
        font-family: Proxima_bold;
        font-size: 20px;
        text-transform: Uppercase;
    }
    .nav.utility{
        display: grid;
        position: absolute;
        top: 382px;
    }
    .nav.main{
        display: grid;
        position: absolute;
    }
    .navbar-collapse collapse in{
        position: relative;
        float: left;
        height: 700px;
    }
    #searchButton {
        background: #27aeea;
        border: none;
        color: #ffffff;
        font-family: Proxima_Semibold;
        font-size: 13px;
        width: 58%;
        position: absolute;
        top: -298px;
        margin-left: 146px;
    }
    #signup {
        background: #c6cc00;
        border: none;
        color: #ffffff;
        font-family: Proxima_Semibold;
        font-size: 13px;
        width: 59%;
        position: absolute;
        top: -298px;
    }
    .navbar-collapse.in {
        height: 565px;
    }
    ul.nav.main >li:first-child {
        margin-left:0px
        }
        #social_icons{
            top: 45px;
            position: absolute;
            margin-left: 16px;
        }
        .nav.utility > li {
            display: Inline-block;
            padding: 8px 0 9px;
            margin-bottom: -10px;
        }
        ul.nav.utility> li> a {
            color: #b2b3b4;
            font-family: Proxima_Semibold;
            font-size: 13px;
            margin-bottom: -10px;
            top: 61px;
        }
        .nav>li>a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }
        ul.nav.main > li > a {
            color: #575c64;
            font-family: Museo_Slab_500;
            font-size: 14px;
            top: 37px;
        }
}