@font-face {
    font-family:Museo_Slab_500;
    src:url(../Fonts/Museo_Slab_500.otf)
    }
    
    @font-face {
    font-family:Proxima_Semibold;
    src:url(../Fonts/ProximaNova-Sbold.otf)
    }
    
    @font-face {
    font-family:Proxima_bold;
    src:url(../Fonts/ProximaNova-Bold.otf.otf)
    }
    
    #headerImage {
    background:url(../images/Regular_size/Home_hero1.jpg) no-repeat;
    background-size:cover;
    min-height:500px;
    width:100%
    }
    
    #headerImage li {
    float:left
    }
    
    #headerImage li:active {
    color:grey
    }
    
    #logo {
    display:inline-block;
    float:left;
    margin-top:1%;
    width:20%
    }
    
    #menu {
    height:50px
    }
    
    #navigation {
    color:#000000;
    width:100%
    }
    
    #searchButton {
    background:#27aeea;
    border:none;
    color:#ffffff;
    font-family:Proxima_Semibold;
    font-size:13px;
    width:16%
    }
    
    #signup {
    background:#c6cc00;
    border:none;
    color:#ffffff;
    font-family:Proxima_Semibold;
    font-size:13px;
    width:8%
    }
    
    .headings {
    padding-top:211px;
    text-transform:uppercase
    }
    
    .headings ul > li > a {
    color:#d1d3d4;
    font-family:Proxima_bold;
    font-size:58px;
    text-transform:Uppercase
    }
    
    .headings ul > li > a:active {
    color:#ffffff;
    font-family:Proxima_bold;
    font-size:58px;
    text-transform:Uppercase
    }
    
    .headings ul > li > a:hover {
    cursor:pointer
    }
    
    .nav > li {
    display:Inline-block;
    padding:10px 9px
    }
    
    .nav > li a {
    font-size:14px;
    padding:5px 0;
    text-decoration:none
    }
    
    .nav.main {
    float:right;
    list-style:none;
    margin:-7px;
    max-width:70%;
    text-align:left
    }
    
    .nav.main > li {
    display:Inline-block;
    padding:0
    }
    
    .nav.main > ul {
    list-style-type:none;
    width:72%
    }
    
    .nav.utility {
    float:right;
    list-style:none;
    margin:-7px;
    max-width:70%;
    text-align:left
    }
    
    .nav.utility > li {
    display:Inline-block;
    padding:8px 0 9px
    }
    
    a {
    text-decoration:none!important
    }
    
    body {
    margin:0;
    padding:0
    }
    
    div {
    height:100%;
    overflow:hidden;
    width:100%
    }
    
    ul {
    list-style-type:none;
    width:70%
    }
    
    ul.nav.main > li {
    position:relative
    }
    
    ul.nav.main > li > a {
    color:#575c64;
    font-family:Museo_Slab_500;
    font-size:14px
    }
    
    ul.nav.main > li > a:active {
    color:#f0711f
    }
    
    ul.nav.main > li > a:hover {
    background-color: transparent;
    color:#f0711f
    }
    
    ul.nav.main >li:first-child {
    margin-left:-38px
    }
    
    ul.nav.utility> li> a {
    color:#b2b3b4;
    font-family:Proxima_Semibold;
    font-size:13px;
    }
    
    ul.nav.utility> li > a :active {
    color:#27aeea;
    }
    
    ul.nav.utility> li > a :hover {
    background-color: transparent;
    color:#27aeea;
    }
    .navbar-collapse.collapse {
        margin-left: 21px;
    }